body {
  font-size: 20px;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  color: #fff;
  background-color: #1e2227;
}

header {
  text-align: center;
}

h1 {
  font-size: 3em;
  font-weight: 800;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  cursor: pointer;
}

.new {
  width: 120px;
  margin: 1em 0;
}

.table {
  width: 1000px;
}

table {
  width: 100%;
  background-color: #272822;
  color: #f8f8f2;
  border-spacing: 0;
  border-bottom: 5px solid #272822;
  /*
  border: 1px solid #fefefe; or #dddbcc
  border-collapse: separate;
  border-spacing: 0;
  */
}

th {
  padding: 10px 10px;
}

td {
  padding: 10px;
  text-align: center;
}

th:nth-child(1),
th:nth-child(2) {
  padding: 10px 100px;
}

th:nth-last-child(1) {
  padding: 10px 38px;
}

th:nth-last-child(2) {
  padding: 10px 102px
}
tbody {
  background-color: #fefefe;
  color: #424242;
}

.form {
  display: flex;
  flex-direction: column;
}

label,
legend {
  display: block;
}

fieldset label {
  margin-left: 1em;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0;
}

.hidden {
  display: none;
}

.button-group {
  margin-top: 2em;
  text-align: center;
}